<header class="header">
  <h1>{{greeting}}</h1>
</header>
<ul>
  {{#each animals}}
  <li class="{{name}}"><a href="{{anchor}}">{{name}}</a></li>
  {{/each}}
</ul>
<footer class="footer">
  <p class="copyright">&copy; {{copyright}}</p>
</footer>
